@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scrollbar-gutter: auto;
}

/* ------ Utility Classes ------ */

.visually-hidden {
  @apply absolute w-[1px] h-[1px] -m-[1px] p-0 border-none whitespace-nowrap overflow-hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/* Flex */

.center-between {
  @apply items-center justify-between;
}

.center-end {
  @apply items-center justify-end;
}

.center-center {
  @apply items-center justify-center;
}

/* Containers */

.width-container {
  @apply mx-auto max-w-[480px] md:max-w-[768px] xl:max-w-[1280px];
}

/* Backgrounds */

.cover-norepeat {
  @apply bg-cover bg-no-repeat bg-center;
}

.contain-repeat {
  @apply bg-contain bg-repeat bg-center;
}

.bg-hero {
  @apply bg-hero-sm md:bg-hero-md xl:bg-hero-xl;
}

.bg-about {
  @apply bg-about-sm md:bg-about-md xl:bg-about-xl;
}

.bg-career {
  @apply bg-career-sm md:bg-career-md xl:bg-career-xl;
}

.bg-gallery {
  @apply bg-gallery-sm md:bg-gallery-md xl:bg-gallery-xl;
}

.bg-contacts {
  @apply bg-contacts-sm md:bg-contacts-md xl:bg-contacts-xl;
}

/* Buttons */

.stylish-btn {
  @apply relative w-full h-[53px] md:h-[50px] xl:h-[71px] bg-white/10 md:bg-white/5 hover:bg-white/20 focus:bg-white/20 transition-colors;
}

.stylish-btn::before,
.stylish-btn::after {
  content: "";
  @apply absolute inset-0 h-full w-full bg-no-repeat pointer-events-none;
}

.stylish-btn::before {
  background-image: url("/assets/icons/btn-frame/btn-frame-left-sm.svg");
}

.stylish-btn::after {
  background-image: url("/assets/icons/btn-frame/btn-frame-left-sm.svg");
  @apply rotate-180;
}

@media screen and (min-width: 768px) {
  .stylish-btn::before {
    background-image: url("/assets/icons/btn-frame/btn-frame-left-md.svg");
  }

  .stylish-btn::after {
    background-image: url("/assets/icons/btn-frame/btn-frame-left-md.svg");
  }
}

@media screen and (min-width: 1280px) {
  .stylish-btn::before {
    background-image: url("/assets/icons/btn-frame/btn-frame-left-xl.svg");
  }

  .stylish-btn::after {
    background-image: url("/assets/icons/btn-frame/btn-frame-left-xl.svg");
  }
}

/* Text */

.heading-content {
  @apply text-[40px] md:text-[67px] xl:text-[98px] leading-[1.4] md:leading-[1.21] font-thin uppercase -tracking-[0.04em];
}

.paragraph-content {
  @apply text-[14px] md:text-[16px] xl:text-[18px] leading-[1.43] md:leading-[1.25] xl:leading-[1.33] font-extralight;
}

.spec span {
  @apply uppercase font-normal tracking-normal;
}

/* Forms */

.form-label {
  @apply text-[12px] leading-[2] font-extralight tracking-[0.2em];
}

.form-field {
  @apply block mt-[4px] w-full text-[13px] xl:text-[20px] leading-[1.84] xl:leading-[1.33] font-extralight bg-white/5 outline-none;
}

.form-custom-checkbox::after {
  content: "";
  @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] w-[14px] h-[14px] xl:w-[16px] xl:h-[16px] bg-white/10;
}

.form-checkbox:checked + .form-custom-checkbox::after {
  @apply bg-white/100;
}

.form-error {
  @apply absolute right-0 text-error;
}

.form-error::before {
  content: "";
  background-image: url("/assets/icons/error.svg");
  @apply absolute w-[9.25px] h-[9.25px] top-[50%] -translate-y-[50%] -left-[17.63px];
}

/* Sections */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .career-list li:nth-child(3) > h4 {
    padding-bottom: 20px;
    letter-spacing: -0.01em;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
